node_modules
npm-debug.log
.npm
.nyc_output
.coverage
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-project
.tern-port
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
.DS_Store
.git
.gitignore
README.md
.dockerignore
Dockerfile*
docker-compose*